.profile-pic {
    max-width: 155px;
    max-height: 155px;
}

.page {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.contact-card {
    width: 50%;
    padding: 1%;
}

.shadow {
    box-shadow: 0px 0px 5px;
    margin-top: 1%;
}

.profile-pic:hover {
    opacity: .5;	
}

